<div class="row">
	<div class="col-md-10">
		<label for="comment">Message:</label>
		<textarea class="form-control" rows="5" id="comment" ng-model="msgComment"></textarea>
	</div>


	<div class="col-md-3">
		<label>Phones:</label>
		<li ng-repeat="contact in contacts" class="topMargin">
			<input type="text" class="form-control" ng-model="contact.phone" />
		</li>
	</div>
	<div class="col-md-10">
        <p ng-show="isWarning">{{messageStatus}}</p>
	</div>

	<div class="col-md-5">
		<li>
			<img  id="addPhone" src="images/plus.png" alt="Add Row" ng-click="addContact()" class="medWidth topMargin bottomMargin" />
			<button id="submit" class="btn btn-primary" ng-click="sendMessage()">Submit</button>
		</li>
	</div>

</div>