<div class="row">
    <div class="col-xs-12 col-sm-2">
        <div class="form-group">
            <label for="activate_from" class="col-sm-6 control-label">from date</label>
            <div class="col-sm-12">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="channel.dt" is-open="popup1.opened" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="form-group">
            <label for="activate_from" class="col-sm-6 control-label"> to date</label>
            <div class="col-sm-12">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="channel.dt2" is-open="popup2.opened" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-1">
        <label for="inputLang" class="col-sm-2 control-label">Language</label>
        <div class="col-sm-12">
            <select ng-model="lang" ng-options="x for x in languages">
          </select>
        </div>
    </div>

      <div class="col-xs-12 col-sm-1">
        <label for="inputLang" class="col-sm-2 control-label">type</label>
        <div class="col-sm-12">
            <select ng-model="type" ng-options="x for x in types">
          </select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 topMargin">
        <button type="button" class="btn btn-primary" ng-click="getData('reported')">Submit</button>
    </div>
    <div class="col-xs-12 col-sm-3">
        <input type="text" class="form-control " ng-model="queryBar" placeholder="Search Vokes">
    </div>


</div>