<div class="row">
    all calender n all will come here
 </div>

 <div class="row">
     <div class="topMargin">
         <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
            <thead>
                <tr>
                    <th>Name/handle</th>
                    <th>Image</th>
                    <th>Spam-Date</th>
                    <th>Lang</th>
                    <th>Title</th>
                    <th>Voke</th>
                    <th>Reported</th>
                    <th>Details</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Yatender/@yatender</td>
                    <td><img src="{{ x.image || '' }} "  alt="topic image" height="80" width="80"/></td>
                    <td</td>
                    <td>{{ x.dt | date:'yyyy-MM-dd HH:mm:ss' || '' }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
         </table>
     </div>
 </div>
