<div class="row">
	<div class="col-xs-4 col-md-4">
		<img src='./images/plus.png' alt='createChannel' class="medWidth" data-toggle="modal" data-target="#myModal"><span><h4> <small>Create Topic</small></h4><span>
	</div>
	<div class="col-xs-4 col-md-4">
		<!--data-toggle="modal" data-target="#myModal"-->
	</div>
	<div class="col-xs-6 col-md-4">
        <input type="text" class="form-control " ng-model="queryBar" placeholder="Search Topic">
    </div>
</div>
<!--<datetimepicker data-ng-model="data.date"></datetimepicker>-->
<!--<button class="btn btn-primary btn-lg" >
   Add New Channel
</button>-->

<div ng-if="channelContentList.length" class="topMargin">
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-condensed table-striped table-responsive">
			<thead>
				<tr>
					<th>RefId</th>
					<th>Title</th>
					<th>Language</th>
					<th>Voice_desc</th>
					<th>Img</th>
					<th>Type</th>
					<th>Default Text</th>
					<th>Weightage</th>
					<th>activate Date</th>
					<th>hashtag</th>
					<th>Message</th>
					<th>Notification</th>
					<th>send To</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in channelContentList | filter:queryBar">
			<td>
				<!-- editable username (text with validation) -->
				<span editable-text="x.ref_id" e-name="ref_id" e-form="rowform">
					<!--onbeforesave="checkName($data, user.id)"-->
					{{ x.ref_id || '' }}
				</span>
		</td>
		<td>
			<!-- editable status (select-local) -->
			<span editable-text="x.title" e-name="title" e-form="rowform">
					{{ x.title || '' }}
				</span>
		</td>
		<td>
			<!-- editable group (select-remote) -->
			<span editable-text="x.language" e-name="language" e-form="rowform">
					{{ x.language || '' }}
				</span>
		</td>
		<td>
			<audio id="audio+{{x.topic_id}}" preload="metadata" type="audio/mp3" controls="controls">
				<source ng-src="{{x.voice_desc}}" type="audio/mp3" /> Your browser doesn't support the HTML audio tag. Be sad.
			</audio>
		</td>
		<td>
			<!-- editable group (select-remote) -->
			<span editable-text="x.image" e-name="img" e-form="rowform">
					<img src="{{ x.image || '' }} "  alt="topic image" height="80" width="80"/>
				</span>
		</td>
		<td>
			<!-- editable group (select-remote) -->
			<span editable-text="x.type" e-name="type" e-form="rowform">
					{{ x.type || '' }}
				</span>
		</td>
		<td>
			<!-- editable group (select-remote) -->
			<span editable-text="x.default_text" e-name="default_text" e-form="rowform">
					{{ x.default_text || '' }}
				</span>
		</td>
		<td>
			<!-- editable group (select-remote) -->
			<span editable-text="x.weightage" e-name="weightage" e-form="rowform">
					{{ x.weightage || '' }}
				</span>
		</td>

		<td>
			<!-- editable group (select-remote) -->
			<span editable-text="x.dt" e-name="hashtags" e-form="rowform">
                                {{ x.dt | date:'yyyy-MM-dd HH:mm:ss' || '' }}
                            </span>
		</td>

		<td>
			<!-- editable group (select-remote) -->
			<span editable-text="x.hashtag" e-name="hashtags" e-form="rowform">
                                {{ x.hashtag || '' }}
                            </span>
		</td>

		<td>
			<!-- editable group (select-remote) -->
			<span editable-text="x.message" e-name="hashtags" e-form="rowform">
                                {{ x.message || '' }}
                            </span>
		</td>



		<td>
			<!-- editable group (select-remote) -->
			<span editable-text="x.time" e-name="dt" e-form="rowform">
					{{ x.time| date:'yyyy-MM-dd HH:mm:ss' || '' }}
				</span>
		</td>

		<td>
			<!-- editable group (select-remote) -->
			<span editable-text="x.to" e-name="hashtags" e-form="rowform">
                                {{ x.to }}
                            </span>
		</td>

		<td style="white-space: nowrap">
			<!-- form -->
			<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
				<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            		save
          </button>
				<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            		cancel
          </button>
				<button type="button" ng-disabled="rowform.$waiting" ng-click="deleteElement(x.uuid)" class="btn btn-danger">
            		Delete
          </button>
			</form>
			<div class="buttons" ng-show="!rowform.$visible">
				<button class="btn btn-primary" id="{{ 'editBtn-' + $index }}" ng-click="rowform.$show()">edit</button>
				<!--<button class="btn btn-danger" ng-click="removeUser($index)">del</button>-->
				<button class="btn btn-primary" id="{{ 'submitBtn-' + $index }}" ng-click="createNewChannel(x,$index)">Submit</button>
			</div>
		</td>
		</tr>
		</tbody>
		</table>
	</div>
</div>



<div id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add Topic</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputRefId" class="col-sm-2 control-label">RefId</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputRefId" ng-model="channel.ref_id" placeholder="RefId">
						</div>
					</div>
					<div class="form-group">
						<label for="inputTitle" class="col-sm-2 control-label">Title</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputTitle" ng-model="channel.title" placeholder="Title">
						</div>
					</div>
					<div class="form-group">
						<label for="inputLang" class="col-sm-2 control-label">Language</label>
						<div class="col-sm-10">
							<pre>{{channel.language || 'kn'}}</pre>
							<!--<input type="text" class="form-control" id="inputLang" ng-model="channel.name" placeholder="Language" >-->
							<div class="btn-group">

								<label class="btn btn-success" ng-model="channel.language" uib-btn-radio="'kn'" uncheckable>Kannada</label>
								<label class="btn btn-success" ng-model="channel.language" uib-btn-radio="'hi'" uib-uncheckable="uncheckable">Hindi</label>
								<label class="btn btn-success" ng-model="channel.language" uib-btn-radio="'ta'" uib-uncheckable="uncheckable">Tamil</label>
								<label class="btn btn-success" ng-model="channel.language" uib-btn-radio="'en'" uncheckable>English</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputVoiceDesc" class="col-sm-2 control-label">Voice Desc</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="inputVoiceDesc" ng-model="channel.voice_desc" placeholder="Voice Desc">
						</div>
						<div class="col-sm-5">
							<button type="file" class="btn btn-primary" ngf-select="uploadFiles($file, $invalidFiles,'voice')" accept="audio/*" ngf-max-height="10000"
								ngf-max-size="10MB">
								Select desc</button>
							<br><br> File:
							<div style="font:smaller">{{f1.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
								<span class="progress" ng-show="f1.progress >= 0">
								<div style="width:{{f1.progress}}%"
									ng-bind="f1.progress + '%'"></div>
							</span>
							</div>
						</div>

					</div>
					<div class="form-group">
						<label for="inputImg" class="col-sm-2 control-label">Img</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="inputImg" ng-model="channel.image" placeholder="Image">
						</div>

						<div class="col-sm-5">
							<button type="file" class="btn btn-primary" ngf-select="uploadFiles($file, $invalidFiles,'image')" accept="image/*" ngf-max-height="10000"
								ngf-max-size="10MB">
								Select Image</button>
							<br><br> File:
							<div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
								<span class="progress" ng-show="f.progress >= 0">
								<div style="width:{{f.progress}}%"
									ng-bind="f.progress + '%'"></div>
							</span>
							</div>
						</div>

					</div>
					<div class="form-group">
						<label for="inputType" class="col-sm-2 control-label">Type</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputType" ng-model="channel.type" placeholder="Type">
						</div>
					</div>
					<div class="form-group">
						<label for="inputDefaultText" class="col-sm-2 control-label">Default text</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputDefaultText" ng-model="channel.default_text" placeholder="Default text">
						</div>
					</div>

					<div class="form-group">
						<label for="inputWeightage" class="col-sm-2 control-label">Weightage</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputWeightage" ng-model="channel.weightage" placeholder="Weightage">
						</div>
					</div>

					<div class="form-group">
						<label for="activate_from" class="col-sm-2 control-label">activate from</label>
						<div class="dropdown col-sm-10">
							<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
								<div class="input-group"><input type="text" class="form-control" data-ng-model="channel.dt"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="channel.dt" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
							</ul>
						</div>
					</div>
					<hr/>

					<div class="form-group">
						<label for="Message" class="col-sm-2 control-label">Message</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="Message" ng-model="channel.message" placeholder="Message">
						</div>
					</div>

					<div class="form-group">
						<label for="inputLang" class="col-sm-2 control-label">Send to</label>
						<div class="col-sm-10">
							<pre>{{channel.to || 'all'}}</pre>
							<!--<input type="text" class="form-control" id="inputLang" ng-model="channel.name" placeholder="Language" >-->
							<div class="btn-group">
								<label class="btn btn-success" ng-model="channel.to" uib-btn-radio="'all'" uncheckable>All</label>
								<label class="btn btn-success" ng-model="channel.to" uib-btn-radio="'even'" uncheckable>Even</label>
								<label class="btn btn-success" ng-model="channel.to" uib-btn-radio="'odd'" uib-uncheckable="uncheckable">Odd</label>
							</div>
						</div>
					</div>



					<div class="form-group">
						<label for="notify_at" class="col-sm-2 control-label">Notifty at</label>
						<div class="dropdown col-sm-10">
							<a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
								<div class="input-group"><input type="text" class="form-control" data-ng-model="channel.time"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="channel.time" data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }" />
							</ul>
						</div>
					</div>

					<div class="form-group">
						<label for="headers" class="col-sm-2 control-label">Hashtags </label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="hashtag" ng-model="channel.hashtag" placeholder="hashtags">
						</div>
					</div>
			</div>
			<div class="form-inline">
				<button type="button" id="hideBtnModal" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" id="submitbtn" class="form-control btn-btn-primary" ng-click="addChannel(channel)">Create Topic</button>
			</div>
			</form>
		</div>
	</div>
</div>
</div>