<div class="row">
    <div class="col-xs-12 col-sm-2">
        <div class="form-group">
            <label for="activate_from" class="col-sm-6 control-label">from date</label>
            <div class="col-sm-12">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="channel.dt" is-open="popup1.opened" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2">
        <div class="form-group">
            <label for="activate_from" class="col-sm-6 control-label"> to date</label>
            <div class="col-sm-12">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="channel.dt2" is-open="popup2.opened" datepicker-options="dateOptions"
                        ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-1">
        <label for="inputLang" class="col-sm-2 control-label">Language</label>
        <div class="col-sm-12">
            <select ng-model="lang" ng-options="x for x in languages">
          </select>
        </div>
    </div>

      <div class="col-xs-12 col-sm-1">
        <label for="inputLang" class="col-sm-2 control-label">type</label>
        <div class="col-sm-12">
            <select ng-model="type" ng-options="x for x in types">
          </select>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 topMargin">
        <button type="button" class="btn btn-primary" ng-click="getData('reported')">Submit</button>
    </div>
    <div class="col-xs-12 col-sm-3">
        <input type="text" class="form-control " ng-model="queryBar" placeholder="Search Vokes">
    </div>


</div>

 <div class="row" ng-show="jokers.length">
     <div class="topMargin">
         <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
            <thead>
                <tr>
                    <th>Name/handle</th>
                    <th>profile-Image</th>
                    <th>Voke-Image</th>
                    <th>Voke-Date</th>
                    <th>Lang</th>
                    <th>Title</th>
                    <th>Voke</th>
                    <th>status</th>
                    <th>Gender</th>
                    <th>Action</th>
                    <th>setGender</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in jokers | filter:queryBar ">
                    <td>{{format(x.name)}} / {{x.handle}}</td>
                    <td><img src="{{ x.profile_image || 'https://vignette1.wikia.nocookie.net/sote-rp/images/c/c4/User-placeholder.png/revision/latest?cb=20150624004222' }} "  alt="profile image" height="100" width="120"/></td>
                    <td><img src="{{ x.img || '' }} "  alt="topic image" height="100" width="120"/></td>
                    <td>{{ x.created_at | date:'yyyy-MM-dd HH:mm:ss' || '' }}</td>
                    <td>{{x.lang}}</td>
                    <td>{{x.title}}</td>
                    <td>
                             <audio id="audio+{{x.payload}}" preload="metadata" type="audio/mp3" controls="controls">
                                <source ng-src="{{x.payload}}" type="audio/mp3" /> Your browser doesn't support the HTML audio tag. Be sad.
                            </audio>
                    </td>
                    <td>{{x.status}}</td>

                    <td><select ng-model="x.gender" ng-options="x for x in genders">{{x.gender}}</td>
                    
                    <td ng-show="box1" class="action1">
                      <div class="buttons">
                                <button class="btn btn-primary" id="{{ 'spamBtn-' + $index }}" ng-click="doAction(1,x.owner_id, x.gender)">Approve</button>
                                <button class="btn btn-primary" id="{{ 'abusiveBtn-' + $index }}" ng-click="doAction(2,x.owner_id, x.gender)">Spam</button>
                            </div>
                    </td>

                    <td ng-show="box2" class="action2">
                      <div class="buttons">
                                
                                <button class="btn btn-primary" id="{{ 'abusiveBtn -' + $index }}" ng-click="doAction(1,x.owner_id, x.gender)">Not spam</button>
                            </div>
                    </td>

                     <td ng-show="box3" class="action3">
                      <div class="buttons">
                                <button class="btn btn-primary" id="{{ 'spamBtn -' + $index }}" ng-click="doAction(2,x.owner_id, x.gender)">Spam</button>
                            </div>
                    </td>
                    <td><button class="btn btn-primary" id="{{ 'genderBtn-' + $index }}" ng-click="updateGender(x.owner_id, x.gender)">Update Gender</button>
                </tr>
            </tbody>
         </table>
     </div>
 </div>
